<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Gladio seeks to clear the confusion the world has with the Catholic faith through respectful and honest answers about God's plan for our salvation and our relationship with Christ.
</p>
