<% provide(:title, 'Blog') %>
<h1>Gladio Blog</h1>
<p>Gladio seeks to clear the confusion the world has with the Catholic faith through respectful and honest answers about God's plan for our salvation and our relationship with Christ.</p>