/* Includes everything from Twitter Bootstrap */
@import "bootstrap";


/* Mixins, Variables, Etc. */

/* Used to style boxes of forms and debug information. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Header */

/* Current styling for "The Sword" header at the top */
header {
  font-family: times new roman, times, serif;
  font-size: 71px;
  letter-spacing: 2pt;
  word-spacing: 5pt;
  line-height: 0;
  text-align: center;
  padding: 35px 0px 50px 0px; /* Padding around the words */
  margin: 0px 0px 20px 0px; /* Only a bottom margin to separate from the content */
  border-bottom-style:solid; /* Apply a border only to the bottom */
}

/* Sidebar */

/* Position of sidebar is fixed and has 0 margin left to ensures a northwest location.  */
.sidebar-nav {
  padding: 9px 0px;
  padding-bottom: 400px;
  width: 220px;
  min-height: 1px;
  margin-left: 0px;
  position: fixed;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
