@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header */

header {
  padding: 35px 0px 50px 0px;
  margin: 0px 0px 20px 0px;
  border-top-style:none;
  border-right-style:none;
  border-left-style:none;
  border-bottom-style:solid;
  font-weight: normal;
  color: #000000;
  letter-spacing: 2pt;
  word-spacing: 5pt;
  font-size: 71px;
  text-align: center;
  font-family: times new roman, times, serif;
  line-height: 0;
}

/* sidebar */

.sidebar-nav {
  padding: 9px 0px;
  padding-bottom: 400px;
  width: 220px;
  min-height: 1px;
  margin-left: 0px;
  position: absolute;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
